@import "../../responsive.scss";

.enrollment-card {
  position: relative; /* Torna o card o contexto de posicionamento para o botão */
  color: #0e0e0e;
  background-color: #f0f0f0;
  padding: 20px;
  padding-bottom: 70px; /* Adiciona um padding extra na parte inferior para acomodar o botão */
  border-radius: 8px;
  width: 550px; /* Largura fixa */
  height: 220px; /* Altura fixa */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 0 auto; /* Centraliza o card horizontalmente */
  display: flex;
  flex-direction: column; /* Garante que os elementos sejam empilhados verticalmente */

  h2 {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }

  .enrollment-details {
    flex: 1; /* Faz o conteúdo ocupar o espaço disponível acima do botão */
    display: flex;
    flex-direction: column;
    //justify-content: space-between; /* Garante que o conteúdo fique acima e o botão fixo embaixo */
    
    p {
      color: #0e0e0e;
      margin-bottom: 10px;
      font-size: 1rem;
    }

    button {
      background-color: #6200ea;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      width: calc(100% - 40px); /* Calcula a largura do botão considerando o padding do card */
      position: absolute; /* Fixa o botão */
      bottom: 20px; /* Define a distância do botão para a parte inferior do card */
      left: 20px; /* Alinha o botão com o padding do card */
      transition: background-color 0.1s ease;

      &:hover {
        background-color: #5300d6;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }

      &.enrolled {
        background-color: #c5c5c5; // Cor para o botão quando o usuário estiver inscrito
        cursor: not-allowed; // Altera o cursor para indicar que o botão está desabilitado
      }
    }
  }

  // Responsividade para telas grandes
  @include lg {
    width: 500px;
    height: 220px;

    h2 {
      font-size: 1.3rem;
    }

    .enrollment-details p {
      font-size: 0.95rem;
    }

    button {
      padding: 8px 16px;
      font-size: 0.95rem;
      bottom: 15px; /* Ajusta a posição do botão nas telas grandes */
    }
  }

  // Responsividade para telas médias
  @include md {
    width: 400px;
    height: auto; // Deixa a altura flexível para acomodar melhor o conteúdo
    padding-bottom: 70px; // Adiciona espaço na parte inferior para o botão

    h2 {
      font-size: 1.2rem;
    }

    .enrollment-details p {
      font-size: 0.9rem;
    }

    button {
      padding: 8px 16px;
      font-size: 0.9rem;
      bottom: 15px; /* Ajusta a posição do botão nas telas médias */
    }
  }

  // Responsividade para telas pequenas
  @include sm {
    width: calc(100% - 0px); // O card vai ocupar quase toda a largura da tela
    height: auto;
    padding: 15px;
    padding-bottom: 70px; // Garante espaço suficiente para o botão
    margin: 0 auto;
    box-sizing: border-box;

    h2 {
      font-size: 1.1rem;
    }

    .enrollment-details p {
      font-size: 0.85rem;
    }

    button {
      padding: 8px 14px;
      font-size: 0.85rem;
      bottom: 15px; /* Ajusta a posição do botão nas telas pequenas */
    }
  }
}
