@import "../../responsive.scss";


.login {
    height: 940px;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    padding: 240px;

  .formContainer {
    //margin: 182px auto 273px auto;
    
    //flex: 3;
    height: 501px;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      border-radius: 25px;
      background-color: #F0F0F0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 89px;
  

      input{
        padding: 20px;
        border: none;
        border-radius: 5px;
        background-color: #DCDCDC;
        width: 330px;
        height: 37px;
      }

      button{
        //padding: 20px;
        border-radius: 5px;
        border: none;
        background-color: #7400C9;
        color: white;
        font-weight: bold;
        width: 131px;
        height: 31px;
        text-align: center;
        cursor: pointer;

        &:disabled{
          background-color: #BED9D8;
          cursor: not-allowed;
        }
      }

      span{
        color: rgba(255, 0, 0, 0.591);
      }

      a{
        font-size: 14px;
        color: gray;
        border-bottom: 1px solid gray;
        width: max-content;
      }
    }
  }
  
  .imgTravessao {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgContainer {
    //flex: 2;
    //background-color: #fcf5f3;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 85px;
      width: 383px;
    }
  }
}
