@import "../../../responsive.scss";

.event-card {
  background-color: #3b3b3b;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  height: 100%; // Garante que o card ocupe toda a altura disponível

  &:hover {
    transform: scale(1.05);
  }

  h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 0.5rem;
  }

  .buttonCard {
    display: flex;
    justify-content: space-between; // Alinha os botões
    margin-top: auto; // Empurra os botões para baixo
  }

  button {
    background-color: #a133eb;
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #7e25b5;
    }
  }
}

// Responsividade
@include lg {
  .event-card {
    // Ajustes específicos para telas grandes, se necessário
  }
}

@include md {
  .event-card {
    // Ajustes específicos para telas médias, se necessário
  }
}

@include sm {
  .event-card {
    // Ajustes específicos para telas pequenas, se necessário
  }
}
