$success-color: #51a351;
$error-color: #bd362f;
$info-color: #2f96b4;
$warning-color: #f89406;
$white-color: white;

.toast-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 250px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.5s forwards, fadeOut 0.5s ease-in-out 4.5s forwards;

  &.success {
    background-color: $success-color;
    color: $white-color;
  }

  &.error {
    background-color: $error-color;
    color: $white-color;
  }

  &.info {
    background-color: $info-color;
    color: $white-color;
  }

  &.warning {
    background-color: $warning-color;
    color: $white-color;
  }

  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: $white-color;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.2); // Fundo da barra
    border-radius: 5px;
    overflow: hidden;

    .progress {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7); // Cor da barra de progresso
      animation: progressAnimation linear;
      transform-origin: right; // Origem da animação é a esquerda
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes progressAnimation {
  0% {
    transform: scaleX(1); // Começa com a barra completa
  }
  100% {
    transform: scaleX(0); // Recolhe a barra da esquerda para a direita
  }
}
