@import "../../responsive.scss";

.lecture-details-container {
  background-color: #0e0e0e;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 950px;
  padding-top: 200px;

  .lecture-header {
    text-align: left;
    margin-bottom: 40px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    .lecture-info {
      font-size: 1.1rem;
      color: #ccc;
      span {
        margin: 0 8px;
      }
    }
  }

  .lecture-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 100px;
    

    .lecture-info-card {
      color: #0e0e0e;
      background-color: #F0F0F0;
      padding: 20px;
      border-radius: 8px;
      width: 550px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      height: 250px;

      h2 {
        font-size: 1.4rem;
        margin-bottom: 15px;
      }

      .enrollment-details {
        p {
          color: #0e0e0e;
          margin-bottom: 10px;
          font-size: 1rem;
          //color: #ccc;

          strong {
            //color: #fff;
          }
        }

        .enroll-button {
          background-color: #6200ea;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          width: 100%;
          margin-top: 20px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #5300d6;
          }

          &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
          }
        }
        .enroll-button.enrolled {
          background-color: #C5C5C5; // Cor para o botão quando o usuário estiver inscrito
          cursor: not-allowed; // Altera o cursor para indicar que o botão está desabilitado
        }
      }
    }

    .lecture-body {
      flex: 1;

      h3 {
        font-size: 1.8rem;
        margin-bottom: 20px;
      }

      .lecture-description {
        margin-bottom: 40px;
        line-height: 1.6;
        color: #bbb;
      }

      .lecture-speaker-card {
        background-color: #430073;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

        .speaker-info {
          display: flex;
          gap: 20px;

          .speaker-photo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .speaker-details {
            h4 {
              font-size: 1.5rem;
              margin-bottom: 5px;
            }

            p {
              font-size: 1rem;
              color: #ccc;
            }
          }
        }
      }
    }
  }

  /* Adicione isto ao seu InscricoesStyle.scss */

  .confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal-content {
      color: #000000;
      background-color: #ffffff;
      border-radius: 8px;
      padding: 25px;
      width: 300px;
      text-align: center;

      p {
        margin-bottom: 15px;
      }

      button {
        margin: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:first-of-type {
          background-color: #430073;
          color: #ffffff;
        }

        &:last-of-type {
          background-color: #ffffff;
          border: 1px solid #430073;
          color: #430073;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

@include sm {
  .lecture-content {
    flex-direction: column;
    align-items: center;

    .lecture-info-card {
      width: 100%;
      margin-bottom: 40px;
    }

    .lecture-body {
      width: 100%;
    }
  }
}
