@import "../../responsive.scss";

.navbar {
  width: 100%;
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C3CFEE;
  color: #000000;

  a {
    transition: all 0.4s ease;
    padding: 12px 24px; // Adiciona padding para links e botão
    margin: 0 10px; // Adiciona margem para links e botão
    text-decoration: none;
    color: #000; // Define a cor do texto dos links e do botão
    display: inline-block; // Garante que o link e o botão se comportem como blocos inline
    border: none; // Remove a borda, se houver

    &:hover {
      transform: scale(1.05);
    }

    @include sm {
      display: none;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 100px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 100px;
      }

      span {
        @include md {
          display: none;
        }

        @include sm {
          display: initial;
        }
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    position: relative;

    @include sm {
      justify-content: space-between;
    }

    a {
      // Estilos aplicados a todos os links, incluindo o botão "Sair"
      padding: 12px 24px;
      margin: 0 10px;
      text-decoration: none;
      color: #000; // Define a cor do texto dos links e do botão
      display: inline-block; // Garante que o link e o botão se comportem como blocos inline
      border: none; // Remove a borda, se houver

      &:hover {
        transform: scale(1.05);
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
      }

      span {
        font-size: 18px;
        color: #000;
      }

      .dropdown {
        position: absolute;
        top: 43px;
        right: 0;
        background-color: #f5f5f5;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 10px;
        display: flex;
        gap: 10px;  
        min-width: 150px;
        z-index: 999;
        flex-direction: column;
        margin-right: 73px;

        a, .logout-button {
          // Estilos aplicados a links e botão na dropdown
          padding: 10px 15px;
          color: #333;
          text-decoration: none;
          font-size: 14px;
          border: none;

          &:hover {
            background-color: #e0e0e0;
            border-radius: 4px;
          }
        }

        .logout-button {
          // Adiciona estilos específicos para o botão "Sair"
          background: none; // Remove o fundo do botão
          cursor: pointer; // Adiciona o cursor pointer para interatividade
          color: #c50000; // Define a cor do texto do botão
          font-size: 14px; // Mantém o mesmo tamanho de fonte que os links
          text-align: left;
          padding-left: 25px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .register {
      background-color: #7400C9;
      color: #ffffff;
      border-radius: 8px;
      padding: 12px 24px;
    }

    .menuIcon {
      display: none;
      z-index: 999;

      img {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }

      @include sm {
        display: inline;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 16px;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
