@import "../../responsive.scss";

.minicourse-details-container {
  background-color: #0e0e0e;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 950px;
  padding-top: 200px;

  .minicourse-header {
    text-align: left;
    margin-bottom: 40px;
    width: 750px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    .minicourse-info {
      font-size: 1.1rem;
      color: #ccc;
      span {
        margin: 0 8px;
      }
    }
  }

  .minicourse-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 100px;

    .minicourse-info-card {
      color: #0e0e0e;
      background-color: #F0F0F0;
      padding: 20px;
      border-radius: 8px;
      width: 550px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      height: 220px;

      h2 {
        font-size: 1.4rem;
        margin-bottom: 15px;
      }

      .enrollment-details {
        p {
          color: #0e0e0e;
          margin-bottom: 10px;
          font-size: 1rem;

          strong {
            color: #000;
          }
        }

        .enroll-button {
          background-color: #6200ea;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          width: 100%;
          margin-top: 20px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #5300d6;
          }

          &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
          }
        }
      }
    }

    .minicourse-body {
      flex: 1;

      h3 {
        font-size: 1.8rem;
        margin-bottom: 20px;
      }

      .minicourse-description {
        margin-bottom: 40px;
        line-height: 1.6;
        color: #bbb;
      }

      .minicourse-instructor-card {
        background-color: #430073;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

        .instructor-info {
          display: flex;
          gap: 20px;

          .instructor-photo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .instructor-details {
            h4 {
              font-size: 1.5rem;
              margin-bottom: 5px;
            }

            p {
              font-size: 1rem;
              color: #ccc;
            }
          }
        }
      }
    }
  }
}

@include sm {
  .minicourse-content {
    flex-direction: column;
    align-items: center;

    .minicourse-info-card {
      width: 100%;
      margin-bottom: 40px;
    }

    .minicourse-body {
      width: 100%;
    }
  }
}
